@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


* {
    margin:0;
    padding:0;
}

body {
    font-family: Roboto, sans-serif;
}

.whole_upper {
    background-color: #1F2937;
}

.top_bar {
    display:flex;
}

.header_left, 
.header_right {
    display:flex;
    width:50%;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
    margin-top:20px;
}

#header_title {
    font-size:24px;
    color:#f9faf8;
}

a  {
    text-decoration:none;
    color:#e5e7eb;
    font-size:18px;
}

ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    gap:45px;
}

h1 {
    font-size:45px;
    color:#f9faf8;
    font-weight:bolder;
}

p {
    font-size:24px;
    color:#e5e7eb;
    line-height:40px;
}

.second_section {
  display:flex;
  margin:50px;
  justify-content:center;
  align-items:center;
}

.left_section 
.right_section {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    /* width:50%; */
}

img {
    margin-left: 80px;
    margin-bottom: 110px;
    width:600px;
    margin-top:50px;
}

.first_button {
    background-color:#3882f6;
    color:white;
    margin-top:40px;
    width:100px;
    height:50px;
    border-radius:10px;
    font-size: 17px;
    border-color: white;

}

.left_section {
    margin-left:10px;
    min-width:29%;
}

.second_header_title {
    line-height:90px;
}

h2 {
   font-size:36px;
   color:#1f2937;
   font-weight:bolder;
   text-align:center;
}

.box_container {
    display:flex;
    
}

.box_square {
    border:2px solid #3882f6;
    padding:100px;
    border-radius:50px;
    width:100px;
    height:120px;
}

.boxes_with_text {
    display:flex;
    align-items:center;
    flex-direction: column;
    gap:12px;
    padding:70px;
    flex:1;
}

.box_text{
    color:#1F2937;
}

.fourth_section {
    background-color: #e5e7eb;
    padding:120px;
}

.quotes {
    color:#1f2937;
    font-size:36px;
    font-style:italic;
    text-align: center;
    line-height:70px;
}

h4 {
    text-align: right;
    font-size:25px;
}

.fifth_section {
    display:flex;
    justify-content: center;
    align-items:center;
    height:400px;
}

.call_to_action{
    background-color: #3882f6;
    width:75%;
    height:48%;
    display:flex;
    border-radius:10px;
}

.blue_box {
    width:80%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:300px;
}

h3 {
    font-size:29px;
    color:whitesmoke;
}

.right_side {
    display:flex;
    align-items:center;
    margin-right:260px; 
}

.second_button {
    background-color:#3882f6;
    color:white;
    width:150px;
    height:50px;
    border-radius:10px;
    border-width: 5px;
    font-size: 17px;
    border-color: white;
}

.footer {
   background-color: #1F2937;
   height:160px;
}

h5 {
    color:#e5e7eb;
    font-size:30px;
    margin-top:55px;
}

.last_title{
    display:flex;
    justify-content:center;
    align-items:center;
}